body {
    background-color: #020220;
    font: normal 1.3em Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0, 0, 0, 0.363);
}

div {
    padding: 10px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
